* {
  box-sizing: border-box;
}

body {
  background: aliceblue;
  font-size: x-large;
}

.btn {
  background-color: blueviolet;
  border: none;
}

.btn:hover {
  background-color: blueviolet;
}

.btn:focus {
  background-color: blueviolet;
}

ul {
  list-style-type: none;
}

.card-header {
  background-color: blueviolet;
  color: white;
}
